.example-container {
  display: flex;
  background-image:url('images/background.jpg');
  border: 1px solid transparent;
  flex-direction: column;
  max-height: 500px;
  max-width: 80%;
  overflow: auto;
  margin-left: 10%;
}

.CustomerId-col {
  flex: 0 0 100px !important;
  white-space: unset !important;

}

.button-row {
  margin: 10px 0;
  align-items: center;
  position: center;
  text-align: center;
  justify-content: center;
}


