.example-card {
  max-width: 100%;
  text-align: left;
  position: center;
}

.button-row {
  margin: 10px 0;
}
dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

.button-align{
  text-align: center;

}
